--
-- PostgreSQL database dump
--

\restrict SXF09cmru7g0ehWKKpWfmtggfRHPpbiXI7oRa4wz9DSfdCgp2KAMeVhfO74a7B2

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: coach; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coach (
    coachid integer NOT NULL,
    coachname character varying(50),
    gender character varying(10),
    birthday date,
    prodate date
);


ALTER TABLE public.coach OWNER TO postgres;

--
-- Name: coachedby; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coachedby (
    coachid integer NOT NULL,
    teamid integer NOT NULL,
    startdate date,
    salary numeric(10,2)
);


ALTER TABLE public.coachedby OWNER TO postgres;

--
-- Name: gkmatchstats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gkmatchstats (
    playerid integer NOT NULL,
    matchid integer NOT NULL,
    saves integer,
    goalsconceded integer,
    yellowcard integer,
    redcard integer
);


ALTER TABLE public.gkmatchstats OWNER TO postgres;

--
-- Name: goalkeeper; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.goalkeeper (
    playerid integer NOT NULL,
    glovesnumber integer
);


ALTER TABLE public.goalkeeper OWNER TO postgres;

--
-- Name: match; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.match (
    matchid integer NOT NULL,
    matchdate date,
    stage character varying(50)
);


ALTER TABLE public.match OWNER TO postgres;

--
-- Name: matchstadium; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matchstadium (
    matchid integer NOT NULL,
    stadiumid integer,
    attendees integer
);


ALTER TABLE public.matchstadium OWNER TO postgres;

--
-- Name: matchteam; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matchteam (
    matchid integer NOT NULL,
    teamid integer NOT NULL,
    role character varying(10),
    score integer,
    winloss character varying(10),
    CONSTRAINT matchteam_role_check CHECK (((role)::text = ANY ((ARRAY['Home'::character varying, 'Away'::character varying])::text[])))
);


ALTER TABLE public.matchteam OWNER TO postgres;

--
-- Name: player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.player (
    playerid integer NOT NULL,
    playername character varying(50),
    birthdate date,
    "position" character varying(30),
    height integer,
    strongleg character varying(10),
    nativecountry character varying(50),
    CONSTRAINT player_strongleg_check CHECK (((strongleg)::text = ANY ((ARRAY['Left'::character varying, 'Right'::character varying])::text[])))
);


ALTER TABLE public.player OWNER TO postgres;

--
-- Name: playermatchstats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.playermatchstats (
    playerid integer NOT NULL,
    matchid integer NOT NULL,
    goals integer,
    assists integer,
    passcompleted integer,
    passattempts integer,
    tackles integer,
    yellowcard integer,
    redcard integer
);


ALTER TABLE public.playermatchstats OWNER TO postgres;

--
-- Name: playsfor_gk; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.playsfor_gk (
    playerid integer NOT NULL,
    teamid integer NOT NULL,
    startdate date,
    salary numeric(10,2)
);


ALTER TABLE public.playsfor_gk OWNER TO postgres;

--
-- Name: playsfor_player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.playsfor_player (
    playerid integer NOT NULL,
    teamid integer NOT NULL,
    startdate date,
    salary numeric(10,2),
    CONSTRAINT check_salary CHECK ((salary >= (5000)::numeric))
);


ALTER TABLE public.playsfor_player OWNER TO postgres;

--
-- Name: referee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.referee (
    refereeid integer NOT NULL,
    refereename character varying(50),
    gender character varying(10),
    birthday date,
    prodate date
);


ALTER TABLE public.referee OWNER TO postgres;

--
-- Name: refereeat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refereeat (
    matchid integer NOT NULL,
    refereeid integer NOT NULL
);


ALTER TABLE public.refereeat OWNER TO postgres;

--
-- Name: stadium; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stadium (
    stadiumid integer NOT NULL,
    stadiumname character varying(50),
    city character varying(50),
    capacity integer,
    yearfounded integer,
    CONSTRAINT check_capacity CHECK ((capacity > 0))
);


ALTER TABLE public.stadium OWNER TO postgres;

--
-- Name: team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team (
    teamid integer NOT NULL,
    teamname character varying(50) NOT NULL,
    country character varying(50),
    yearfounded integer,
    CONSTRAINT check_year CHECK (((yearfounded)::numeric <= EXTRACT(year FROM CURRENT_DATE))),
    CONSTRAINT team_yearfounded_check CHECK ((yearfounded > 1800))
);


ALTER TABLE public.team OWNER TO postgres;

--
-- Data for Name: coach; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: coachedby; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gkmatchstats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gkmatchstats (playerid, matchid, saves, goalsconceded, yellowcard, redcard) FROM stdin;
\.


--
-- Data for Name: goalkeeper; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.goalkeeper (playerid, glovesnumber) FROM stdin;
\.


--
-- Data for Name: match; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: matchstadium; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: matchteam; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: player; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: playermatchstats; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: playsfor_gk; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.playsfor_gk (playerid, teamid, startdate, salary) FROM stdin;
\.


--
-- Data for Name: playsfor_player; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: referee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: refereeat; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stadium; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: coach coach_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coach
    ADD CONSTRAINT coach_pkey PRIMARY KEY (coachid);


--
-- Name: coachedby coachedby_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coachedby
    ADD CONSTRAINT coachedby_pkey PRIMARY KEY (coachid, teamid);


--
-- Name: gkmatchstats gkmatchstats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gkmatchstats
    ADD CONSTRAINT gkmatchstats_pkey PRIMARY KEY (playerid, matchid);


--
-- Name: goalkeeper goalkeeper_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.goalkeeper
    ADD CONSTRAINT goalkeeper_pkey PRIMARY KEY (playerid);


--
-- Name: match match_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_pkey PRIMARY KEY (matchid);


--
-- Name: matchstadium matchstadium_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchstadium
    ADD CONSTRAINT matchstadium_pkey PRIMARY KEY (matchid);


--
-- Name: matchteam matchteam_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchteam
    ADD CONSTRAINT matchteam_pkey PRIMARY KEY (matchid, teamid);


--
-- Name: player player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_pkey PRIMARY KEY (playerid);


--
-- Name: playermatchstats playermatchstats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playermatchstats
    ADD CONSTRAINT playermatchstats_pkey PRIMARY KEY (playerid, matchid);


--
-- Name: playsfor_gk playsfor_gk_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playsfor_gk
    ADD CONSTRAINT playsfor_gk_pkey PRIMARY KEY (playerid, teamid);


--
-- Name: playsfor_player playsfor_player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playsfor_player
    ADD CONSTRAINT playsfor_player_pkey PRIMARY KEY (playerid, teamid);


--
-- Name: referee referee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referee
    ADD CONSTRAINT referee_pkey PRIMARY KEY (refereeid);


--
-- Name: refereeat refereeat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refereeat
    ADD CONSTRAINT refereeat_pkey PRIMARY KEY (matchid, refereeid);


--
-- Name: stadium stadium_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stadium
    ADD CONSTRAINT stadium_pkey PRIMARY KEY (stadiumid);


--
-- Name: team team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_pkey PRIMARY KEY (teamid);


--
-- Name: idx_match_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_match_date ON public.match USING btree (matchdate);


--
-- Name: idx_player_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_player_name ON public.player USING btree (playername);


--
-- Name: idx_stadium_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stadium_city ON public.stadium USING btree (city);


--
-- Name: coachedby coachedby_coachid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coachedby
    ADD CONSTRAINT coachedby_coachid_fkey FOREIGN KEY (coachid) REFERENCES public.coach(coachid);


--
-- Name: coachedby coachedby_teamid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coachedby
    ADD CONSTRAINT coachedby_teamid_fkey FOREIGN KEY (teamid) REFERENCES public.team(teamid);


--
-- Name: gkmatchstats gkmatchstats_matchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gkmatchstats
    ADD CONSTRAINT gkmatchstats_matchid_fkey FOREIGN KEY (matchid) REFERENCES public.match(matchid);


--
-- Name: gkmatchstats gkmatchstats_playerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gkmatchstats
    ADD CONSTRAINT gkmatchstats_playerid_fkey FOREIGN KEY (playerid) REFERENCES public.goalkeeper(playerid);


--
-- Name: goalkeeper goalkeeper_playerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.goalkeeper
    ADD CONSTRAINT goalkeeper_playerid_fkey FOREIGN KEY (playerid) REFERENCES public.player(playerid);


--
-- Name: matchstadium matchstadium_matchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchstadium
    ADD CONSTRAINT matchstadium_matchid_fkey FOREIGN KEY (matchid) REFERENCES public.match(matchid);


--
-- Name: matchstadium matchstadium_stadiumid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchstadium
    ADD CONSTRAINT matchstadium_stadiumid_fkey FOREIGN KEY (stadiumid) REFERENCES public.stadium(stadiumid);


--
-- Name: matchteam matchteam_matchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchteam
    ADD CONSTRAINT matchteam_matchid_fkey FOREIGN KEY (matchid) REFERENCES public.match(matchid);


--
-- Name: matchteam matchteam_teamid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchteam
    ADD CONSTRAINT matchteam_teamid_fkey FOREIGN KEY (teamid) REFERENCES public.team(teamid);


--
-- Name: playermatchstats playermatchstats_matchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playermatchstats
    ADD CONSTRAINT playermatchstats_matchid_fkey FOREIGN KEY (matchid) REFERENCES public.match(matchid);


--
-- Name: playermatchstats playermatchstats_playerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playermatchstats
    ADD CONSTRAINT playermatchstats_playerid_fkey FOREIGN KEY (playerid) REFERENCES public.player(playerid);


--
-- Name: playsfor_gk playsfor_gk_playerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playsfor_gk
    ADD CONSTRAINT playsfor_gk_playerid_fkey FOREIGN KEY (playerid) REFERENCES public.goalkeeper(playerid);


--
-- Name: playsfor_gk playsfor_gk_teamid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playsfor_gk
    ADD CONSTRAINT playsfor_gk_teamid_fkey FOREIGN KEY (teamid) REFERENCES public.team(teamid);


--
-- Name: playsfor_player playsfor_player_playerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playsfor_player
    ADD CONSTRAINT playsfor_player_playerid_fkey FOREIGN KEY (playerid) REFERENCES public.player(playerid);


--
-- Name: playsfor_player playsfor_player_teamid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.playsfor_player
    ADD CONSTRAINT playsfor_player_teamid_fkey FOREIGN KEY (teamid) REFERENCES public.team(teamid);


--
-- Name: refereeat refereeat_matchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refereeat
    ADD CONSTRAINT refereeat_matchid_fkey FOREIGN KEY (matchid) REFERENCES public.match(matchid);


--
-- Name: refereeat refereeat_refereeid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refereeat
    ADD CONSTRAINT refereeat_refereeid_fkey FOREIGN KEY (refereeid) REFERENCES public.referee(refereeid);


--
-- PostgreSQL database dump complete
--

\unrestrict SXF09cmru7g0ehWKKpWfmtggfRHPpbiXI7oRa4wz9DSfdCgp2KAMeVhfO74a7B2

